###  ***Pandas***

* ***Pandas are used to set the data in atabular formate.***
* ***pandas can create data in two ways:***
    * ***Series***
    * ***Data frame***
* ***We can access te large volume of files using pandas.***
* ***Pandas are used to analyse and to clean the data.***

In [1]:
import pandas as pd

In [4]:
a=pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [12]:
a=pd.Series([1,2,3,4],index=["anu","mona","teju4g","teju3g"])
a

anu       1
mona      2
teju4g    3
teju3g    4
dtype: int64

In [13]:
a["e"]=6
a

anu       1
mona      2
teju4g    3
teju3g    4
e         6
dtype: int64

In [21]:
a={"Name":["mona","anu","teju3g","teju4g"],
  "age":[19,20,19,18],
  "bloodgroup":["o+","b+","b+","a+"]}
pd.DataFrame(a)

     Name  age bloodgroup
0    mona   19         o+
1     anu   20         b+
2  teju3g   19         b+
3  teju4g   18         a+

In [24]:
a={"Name":["mona","anu","teju3g","teju4g"],
  "age":[19,20,19,18],
  "bloodgroup":["o+","b+","b+","a+"]}
b=pd.DataFrame(a)
b=b.set_index("Name")
b

        age bloodgroup
Name
mona     19         o+
anu      20         b+
teju3g   19         b+
teju4g   18         a+

In [25]:
b.values

array([[19, 'o+'],
       [20, 'b+'],
       [19, 'b+'],
       [18, 'a+']], dtype=object)

In [26]:
b.index

Index(['mona', 'anu', 'teju3g', 'teju4g'], dtype='object', name='Name')

In [27]:
type(b)

pandas.core.frame.DataFrame